/*------------------------------------*\
    #AUTOCOMPLETE
\*------------------------------------*/

.ui-autocomplete { 
    position: absolute; 
    cursor: default;
    z-index:100000 !important;
    max-height: 200px;
    overflow-y: auto;
}