/*------------------------------------*\
    #BUZZ
\*------------------------------------*/

.buzz-section {
    h2,
    h4,
    p {
        text-align: center;
    }
}

.grid {
    margin-left: -1.6%;
    margin-right: -1.6%;
    overflow: hidden; /* needed so that items don't overlap */
    margin-top: 40px;
} // .grid

    .grid-sizer {
        padding: 0 !important;
    }

    .grid-item,
    .grid-sizer, {
        padding: 0 1.6% 40px 1.6%;
        float:left;
        display:block;

        @media (max-width: $breakpoint-extralarge) {
          padding: 0 1.6% 30px 1.6%;
        }

        /* Large desktop */
        @media (min-width: $breakpoint-extralarge) {
          width:33.3333%;
        }

        /* Portrait tablet to landscape and desktop */
        @media (min-width: $breakpoint-large - 1) and (max-width: $breakpoint-extralarge - 1) {
           width:50%;
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: $breakpoint-large - 1) {
          width: 50%;
        }

        /* Landscape phones and down */
        @media (max-width: 580px) {
          width:100%;
        }

        img {
           display:block;
           text-align:center;
           width: 100%;
           height:auto;
           background:#ffffff;
        }

      } // .item close


.buzz {
    background-color: #fff;

    .entry-title {
        margin-bottom: 16px;
    }

    .entry-date {
        display: block;
        font-size: 14px;
        padding-bottom: 8px;
    }

    .entry-content {
        font-size: 14px;
    }

}

.buzz-twitter {

    .entry-title {
        margin-bottom: -5px;
    }

    .entry-content {
        margin-top: 15px;
    }

    .entry-date {
        padding-bottom: 0;
    }
}

.buzz-instagram {

    .wrap {
        position: relative;
        display: block;
        width: 100%;
        min-height: 100px;
        background: #1a75da;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(255,255,255,0.08) 59%, rgba(255,255,255,0));
            z-index: 5;
        }
    }

    .instagram-user {
        display: block;
        position: absolute;
        left: 8%;
        bottom: 26px;
        color: #fff;
        z-index: 6;

        h4, h5 {
            color: #fff;
            line-height: 1;
        }
    }
}

    .read-more,
    .share-button {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .2em;
    }

    .read-more {
        position: relative;

        &:after {
                content: '';
                height: 1px;
                position: absolute;
                top: 103%;
                left: 50%;
                right: 50%;
                transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
            }

            &:hover {
                text-decoration: none;

                &:after {
                    left: -4px;
                    right: 0px;
                }
            }
    }


    .more-info {
        display: flex;
        justify-content: space-between;
    }

    .buzz-info {
        padding: 40px;

        @include max-screen($breakpoint-large - 2) {
            padding: 15px;
        }
    }