/*------------------------------------*\
    #SLIDER
\*------------------------------------*/

.owl-carousel {
    .item {
        position: relative;
    }

    h1,
    p,
    a {
        position: absolute;
        left: 10%;
        color: white;
    }

    h1 {
        top: 50%;
    }

    p {
        top: 55%;
    }

    a {
        top: 60%;
        font-size: 18px;
    }
}