/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.video-wrap {
    display: block;
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    position: relative;
}

    .video-play,
    .video-title {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        text-transform: uppercase;
        color: #fff;
    }

    .video-play {
        font-size: 16px;
        cursor: pointer;
        top: 50%;
    }

    .video-title {
        top: 40%;
        font-size: 24px;
    }