/*------------------------------------*\
    #CARDS
\*------------------------------------*/

.cards {
    h2,
    p {
        text-align: center;
    }

    .card {
        background-color: #ebebeb;

        h4 {
            text-align: center;
        }

        a {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}
    
    .white-popup {
        text-align: center;
    }