/*------------------------------------*\
    #SUBSCRIBE
\*------------------------------------*/

.subscribe {
    h2 {
        text-align: right;
    }
}

    .subscribe-form {
        display: inline-flex;
        width: 100%;
    }

    //styles for social network links
    .social-networks {
        list-style-type: none;

        li {
            display: inline-block;
        }
    }

        .social-links {
            display: inline-block;
        }

        .contact-info,
        .social-networks {
            text-align: right;
        }



