/*------------------------------------*\
    #FOOTER MAIN
\*------------------------------------*/

.footer-main {
	display: flex;
	justify-content: space-between;
    align-items: center;

    .house-char {
        font-size: 2em;
        position:relative;
        top: 1px;
    }
}
