/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

.header-main {

}

	.custom-logo-link {
		> img {
			max-width: 200px;
		}
	}
	
	.site-nav {
		display: flex;
		justify-content: space-between;
	    align-items: center;
	}

	.menu {
		list-style: none;
		margin: 0;

		> li {
			display: inline-block;
		}
	}
