<div class="comments-area comments" id="comments">
    <h2 class="comments-title">3 comments</h2>

    <ul class="commentlist">
        <li class="comment even thread-even depth-1" id="li-comment-1">
            <div class="comment" id="comment-1">
                <div class="comment-entry">
                    <div class="comment-author">A WordPress Commenter</div>

                    <div class="comment-reply">
                        <a aria-label="Reply to A WordPress Commenter" class="comment-reply-link" href="#respond">Reply</a>
                    </div><!-- comment-reply -->

                    <div class="comment-content">
                        <p>Hi, this is a comment. To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.</p>
                    </div><!-- comment-content -->

                    <div class="comment-date">
                        <a href="#comment-1" title="Permalink to this comment">10 January 2017 &#124; 7:43 am</a>
                    </div>
                </div><!-- comment-entry -->
            </div><!-- #comment-1 -->

            <ul class="children">
                <li class="comment byuser comment-author-dev bypostauthor odd alt depth-2" id="li-comment-2">
                    <div class="comment" id="comment-2">
                        <div class="comment-entry">
                            <div class="comment-author">WordPress Developer</div>

                            <div class="comment-reply">
                                <a aria-label="Reply to WordPress Developer" class="comment-reply-link" href="#respond">Reply</a>
                            </div><!-- comment-reply -->

                            <div class="comment-content">
                                <p>This is the reply</p>
                            </div><!-- comment-content -->

                            <div class="comment-date">
                                <a href="#comment-2" title="Permalink to this comment">17 January 2017 &#124; 10:13 am</a>
                            </div>
                        </div><!-- comment-entry -->
                    </div><!-- #comment-2 -->
                </li><!-- #comment-## -->
            </ul><!-- .children -->
        </li><!-- #comment-## -->

        <li class="comment byuser comment-author-dev bypostauthor even thread-odd thread-alt depth-1" id="li-comment-3">
            <div class="comment" id="comment-3">
                <div class="comment-entry">
                    <div class="comment-author">WordPress Developer</div>

                    <div class="comment-reply">
                        <a aria-label="Reply to WordPress Developer" class="comment-reply-link" href="#respond">Reply</a>
                    </div><!-- comment-reply -->

                    <div class="comment-content">
                        <p>And another parent comment.</p>
                    </div><!-- comment-content -->

                    <div class="comment-date">
                        <a href="#comment-3" title="Permalink to this comment">17 January 2017 &#124; 10:20 am</a>
                    </div>
                </div><!-- comment-entry -->
            </div><!-- #comment-3 -->
        </li><!-- #comment-## -->
    </ul><!-- commentlist -->

    <div class="comment-respond" id="respond">
        <h3>Leave a reply</h3>

        <form action="" class="comment-form" id="commentform" method="post" name="commentform" novalidate="">
            <div class="comment-notes">Your email address will not be published.</div>

            <input aria-required="true" class="input input--primary" id="author" name="author" placeholder="Your name*" type="text" value="">

            <input aria-required="true" class="input input--primary" id="email" name="email" placeholder="Your email address*" type="email" value="">

            <textarea aria-required="true" class="input input--primary input--textarea" id="comment" name="comment" placeholder="Message"></textarea>

            <p class="form-submit">
                <input class="btn btn--primary" id="submit" name="submit" type="submit" value="Send message">
            </p>

        </form>
    </div><!-- #respond -->

</div><!-- comments-area comments -->