<div class="entry-content">

	<h2>Align left</h2>

	<img class="alignleft size-{size} wp-image-{attachment-ID}" src="{src}" alt="">

	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset.</p>

	<h2>Align right HTML5 Figure with figcaption</h2>

	*Note that sligment class is on &lt;figure&gt; instead of &lt;img&gt; tag.

	<figure id="attachment_{ID}" class="wp-caption alignright">
		<img class="size-{size} wp-image-{attachment-ID}" src="{src}" alt="" width="{width}" height="{height}">
		<figcaption class="wp-caption-text">{Caption text}</figcaption>
	</figure>

	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset.</p>

	<h2>Align center</h2>

	<img class="aligncenter size-{size} wp-image-{attachment-ID}" src="{src}" alt="">

	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset.</p>

</div><!-- entry-content -->