<div class="entry-content">
	<h2>Tables</h2>

	<table>
		<thead>
			<tr>
				<th>Employee</th>
				<th>Salary</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th><a href="http://example.org/">John Doe</a></th>
				<td>$1</td>
				<td>Because that’s all Steve Jobs needed for a salary.</td>
			</tr>
			<tr>
				<th><a href="http://example.org/">Jane Doe</a></th>
				<td>$100K</td>
				<td>For all the blogging she does.</td>
			</tr>
			<tr>
				<th><a href="http://example.org/">Fred Bloggs</a></th>
				<td>$100M</td>
				<td>Pictures are worth a thousand words, right? So Jane x 1,000.</td>
			</tr>
			<tr>
				<th><a href="http://example.org/">Jane Bloggs</a></th>
				<td>$100B</td>
				<td>With hair like that?! Enough said…</td>
			</tr>
		</tbody>
	</table>


	<h2>HTML Tags</h2>
	<p>These supported tags come from the WordPress.com code <a title="Code" href="http://en.support.wordpress.com/code/">FAQ</a>.</p>

	<h4>Abbreviation Tag</h4>
	<p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for “seriously”.</p>

	<h4>Acronym Tag (deprecated in HTML5)</h4>
	<p>The acronym <acronym title="For The Win">ftw</acronym> stands for “for the win”.</p>

	<h4>Big Tag (deprecated in HTML5)</h4>
	<p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p>

	<h4>Code Tag</h4>
	<p><code>Code tag test</code></p>
	<p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p>

	<h4>Delete Tag</h4>
	<p>This tag will let you <del>strikeout text</del>, but this tag is no longer supported in HTML5 (use the <code>&lt;strike&gt;</code> instead).</p>

	<h4>Insert Tag</h4>
	<p>This tag should denote <ins>inserted</ins> text.</p>

	<h4>Keyboard Tag</h4>
	<p>This scarsly known tag emulates <kbd>keyboard text</kbd>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p>

	<h4>Preformatted Tag</h4>
	<p>This tag styles large blocks of code.</p>
	<pre>.post-title {
		margin: 0 0 5px;
		font-weight: bold;
		font-size: 38px;
		line-height: 1.2;
		and here's a line of some really, really, really, really long text, just to see how the PRE tag handles it and to find out how it overflows;
	}</pre>

	<h4>Strike Tag (deprecated in HTML5)</h4>
	<p>This tag shows <s>strike-through text</s></p>

	<h4>Subscript Tag</h4>
	<p>Getting our science styling on with H<sub>2</sub>O, which should push the “2” down.</p>

	<h4>Superscript Tag</h4>
	<p>Still sticking with science and Isaac Newton’s E = MC<sup>2</sup>, which should lift the 2 up.</p>

	<h4>Teletype Tag (deprecated in HTML5)</h4>
	<p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p>

	<h4>Variable Tag</h4>
	<p>This allows you to denote <var>variables</var>.</p>
</div><!-- entry-content -->