<div class="entry-content">
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h1>Header one</h1>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h2>Header two</h2>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h3>Header three</h3>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h4>Header four</h4>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h5>Header five</h5>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h6>Header six</h6>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h2>Blockquotes</h2>

	<p>Single line blockquote:</p>
	<blockquote><p>Stay hungry. Stay foolish.</p></blockquote>

	<p>Multi line blockquote with a cite reference:</p>
	<blockquote><p>People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things.</p>
	<p><cite>Steve Jobs – Apple Worldwide Developers’ Conference, 1997</cite></p></blockquote>

	<blockquote class="alignright"><p>This is right aligned blockquote. Sometimes life hits you in the head with a brick. Don’t lose faith.</p></blockquote>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<blockquote class="alignleft"><p>This is right aligned blockquote. Sometimes life hits you in the head with a brick. Don’t lose faith.</p></blockquote>
	<p>That last is no more than a foot high, and about seven paces across, a mere flat top of a grey rock which smokes like a hot cinder after a shower, and where no man would care to venture a naked sole before sunset. On the Little Isabel an old ragged palm, with a thick bulging trunk rough with spines, a very witch amongst palm trees, rustles a dismal bunch of dead leaves above the coarse sand. The Great Isabel has a spring of fresh water issuing from the overgrown side of a ravine. Resembling an emerald green wedge of land a mile long, and laid flat upon the sea, it bears two forest trees standing close together, with a wide spread of shade at the foot of their smooth trunks. A ravine extending the whole length of the island is full of bushes; and presenting a deep tangled cleft on the high side spreads itself out on the other into a shallow depression abutting on a small strip of sandy shore.</p>

	<h2>Definition Lists</h2>
	<dl>
		<dt>Definition List Title</dt>
		<dd>Definition list division.</dd>
		<dt>Startup</dt>
		<dd>A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.</dd>
		<dt>#dowork</dt>
		<dd>Coined by Rob Dyrdek and his personal body guard Christopher “Big Black” Boykins, “Do Work” works as a self motivator, to motivating your friends.</dd>
		<dt>Do It Live</dt>
		<dd>I’ll let Bill O’Reilly will <a title="We'll Do It Live" href="https://www.youtube.com/watch?v=O_HyZ5aW76c">explain</a> this one.</dd>
	</dl>

	<h2>Unordered List (Nested)</h2>
	<ul>
		<li>List item one
			<ul>
				<li>List item one
					<ul>
						<li>List item one</li>
						<li>List item two</li>
						<li>List item three</li>
						<li>List item four</li>
					</ul>
				</li>
				<li>List item two</li>
				<li>List item three</li>
				<li>List item four</li>
			</ul>
		</li>
		<li>List item two</li>
		<li>List item three</li>
		<li>List item four</li>
	</ul>

	<h2>Ordered List</h2>
	<ol>
		<li>List item one
			<ol>
				<li>List item one
					<ol>
						<li>List item one</li>
						<li>List item two</li>
						<li>List item three</li>
						<li>List item four</li>
					</ol>
				</li>
				<li>List item two</li>
				<li>List item three</li>
				<li>List item four</li>
			</ol>
		</li>
		<li>List item two</li>
		<li>List item three</li>
		<li>List item four</li>
	</ol>

	<h2>Mixed List (Nested)</h2>
	<ul>
		<li>Unordered list item one</li>
		<li>Unordered list item two
			<ol>
				<li>Ordered list item one</li>
				<li>Ordered list item two
					<ul>
						<li>Unordered list item one</li>
						<li>Unordered list item two
							<ol>
								<li>Ordered list item one</li>
								<li>Ordered list item two</li>
								<li>Ordered list item three</li>
							</ol>
						</li>
						<li>Unordered list item three</li>
					</ul>
				</li>
				<li>Ordered list item three</li>
			</ol>
		</li>
		<li>Unordered list item three</li>
	</ul>

	<h2>HTML Tags</h2>
	<p>These supported tags come from the WordPress.com code <a title="Code" href="http://en.support.wordpress.com/code/">FAQ</a>.</p>

	<h4>Address Tag</h4>
	<address>1 Infinite Loop<br>
	Cupertino, CA 95014<br>
	United States</address>

	<h4>Anchor Tag (aka. Link)</h4>
	<p>This is an example of a <a title="Apple" href="http://apple.com">link</a>.</p>

	<h4>Strong Tag</h4>
	<p>This tag shows <strong>strong</strong> text.</p>
	<p>This tag shows <b>bold</b> text.</p>

	<h4>Emphasize Tag</h4>
	<p>The emphasize tag should <em>italicize</em> text.</p>

	<h4>Cite Tag</h4>
	<p>“Code is poetry.” —<cite>Automattic</cite></p>

	<h4>Quote Tag</h4>
	<p><q>Developers, developers, developers…</q> –Steve Ballmer</p>
</div><!-- entry-content -->