<div class="pagination-wrapper">
    <nav id="pagination" class="pagination number-pagination" role="navigation">
        <h3 class="assistive-text">Post navigation</h3>
        <ul class="page-numbers">
            <li>
                <a class="first page-numbers" href="http://example.com/products/">
                    <span class="meta-nav">«</span> 
                    <span class="pag-text first-text">First</span>
                </a>
            </li>
            <li>
                <a class="prev page-numbers" href="http://example.com/products/page/2/">
                    <span class="meta-nav">‹</span> 
                    <span class="pag-text prev-text">Prev</span>
                </a>
            </li>
            <li>
                <a class="page-numbers" href="http://example.com/products/">1</a>
            </li>
            <li>
                <a class="page-numbers" href="http://example.com/products/page/2/">2</a>
            </li>
            <li>
                <span class="page-numbers current">3</span>
            </li>
            <li>
                <a class="page-numbers" href="http://example.com/products/page/4/">4</a>
            </li>
            <li>
                <a class="next page-numbers" href="http://example.com/products/page/4/">
                    <span class="pag-text next-text">Next</span> 
                    <span class="meta-nav">›</span>
                </a>
            </li>
            <li>
                <a class="last page-numbers" href="http://example.com/products/page/4/">
                    <span class="pag-text last-text">Last</span> 
                    <span class="meta-nav">»</span>
                </a>
            </li>
       </ul><!-- /.page-numbers -->
    </nav><!-- /.pagination-wrapper -->
    <div class="currently-on">
        Page <span class="current-number">3</span> of <span class="total-number">4</span>            
    </div><!-- /.currently-on -->
</div><!-- /#pagination .paginated.navigation -->