/**
 * TinyMCE
 */
.mce-toolbar .mce-btn .mce-txt {
	line-height: 1.4 !important;
}
.mce-toolbar .mce-btn button,
.qt-dfw {
    padding: 4px 8px !important;
}
.mce-toolbar .mce-btn-group .mce-btn,
.qt-dfw {
	margin: 0 0 0 2px !important;
}

.message-box .colored-span {
	color: #00b0ef;
}
.acf-editor-wrap iframe {
	min-height: 100px !important;
	max-height: 180px !important;
}