/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.icon-play {
	width: 50px;
	height: 50px;
}

.icon-close {
	width: 20px;
	height: 20px;
}