<section class="leaderboard">
	<div class="container">
		<h2>Leaderboard</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit commodi placeat explicabo tempora repudiandae recusandae ducimus eligendi quam illo fuga?</p>
		<ul>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Itaque, nam excepturi sit ea.</li>
			<li>Ex est, dignissimos atque beatae?</li>
			<li>Natus, adipisci, veniam! Saepe, accusamus!</li>
			<li>Quas nobis sed dolorem cupiditate!</li>
			<li>Praesentium magnam eos provident mollitia.</li>
			<li>Ducimus eum doloremque, officia quod?</li>
			<li>Quam ab ullam corporis illum.</li>
			<li>Suscipit nobis libero cumque voluptatibus.</li>
			<li>Temporibus esse, praesentium molestias aliquid.</li>
		</ul>
	</div><!-- /.container -->
</section>