<section class="buzz-section">
	<div class="container">
		<h2>Buzz</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, dolorum.</p>
		<h4>#hashtags</h4>
		<div class="grid">
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <a href="#post-1" class="js-open-popup" data-effect="mfp-3d-unfold">
                        <img src="images/buzz/post-3.jpg" alt="" class="wp-post-image" />
                    </a>
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="#post-1" class="js-open-popup" data-effect="mfp-3d-unfold">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="#post-1" class="read-more js-open-popup" data-effect="mfp-3d-unfold">Read more</a>
                                <ul class="share">
                                    <li class="js-tooltip-wrap tooltip-wrap">
                                        <a href="javascript:;">
                                            <span class="share-button">Share</span>
                                        </a>
                                        <ul class="tooltip">
                                            <li><a href="">{{ icon('icon-fb', 'icon-facebook') }} Facebook</a></li>
                                            <li><a href="">{{ icon('icon-twitter', 'icon-twitter') }} Twitter</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->

                <!-- Blog post popup -->
                <div id="post-1" class="buzz-popup mfp-with-anim mfp-hide">
                    <article>
                        <div class="wp-post-image" style="background-image: url('images/buzz/post-5.jpg');">
                        </div><!-- /.wp-post-image -->
                        <header class="entry-header">
                            <span class="posted-on">
                                <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                            </span>
                           <h1 class="entry-title">
                               Blog post name
                           </h1><!-- /.entry-title -->
                        </header><!-- /.entry-header -->
                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci risus, condimentum quis ipsum vitae, consectetur convallis massa. Donec pharetra justo sed ex rhoncus, id commodo sem convallis. Praesent egestas dapibus sapien, sit amet feugiat nulla bibendum et. Nullam sagittis accumsan mi, vitae cursus dui viverra eget. In gravida lacinia lectus ut laoreet. Aenean eu orci tempus, commodo leo quis, pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                            <p>Maecenas quis rhoncus dolor, sed aliquet eros. Donec viverra auctor fringilla. Maecenas vehicula convallis mauris ut commodo. Nam scelerisque sem augue, a sollicitudin arcu egestas quis. Sed sit amet odio elit. Aenean eu lorem lorem. Suspendisse nec sodales augue, a fermentum ex. Phasellus fermentum eu enim nec hendrerit. Nam magna arcu, interdum at luctus in, dapibus vitae metus. Praesent ullamcorper gravida magna eget sollicitudin. Quisque faucibus massa ac nisl tincidunt, ut ultricies nulla posuere. Proin cursus tempus quam cursus rhoncus. Quisque est nunc, suscipit tristique bibendum ultricies, venenatis quis lectus. Morbi vitae nunc accumsan, congue felis sed, viverra neque.</p>

                            <p>Nulla dapibus facilisis ipsum sed sagittis. Duis nec orci a ipsum fringilla dignissim ut quis nisl. In vel laoreet velit, in facilisis enim. Nulla consectetur, mauris vel blandit tincidunt, sem lacus laoreet nulla, ut vestibulum urna tellus vitae ex. Sed vitae mi eu nisi condimentum ullamcorper vel scelerisque tortor. In tempor condimentum volutpat. Suspendisse in volutpat enim. Pellentesque accumsan est convallis enim viverra, eu viverra arcu scelerisque. Quisque sed pellentesque ante. Morbi ut erat elit. Ut ullamcorper sagittis semper. Nam ornare pulvinar turpis sed aliquam.</p>
                        </div><!-- /.entry-content -->
                        <footer class="entry-footer">
                            <div class="more-info">
                                <a href="javascript:;" class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </footer><!-- /.entry-footer -->
                        
                    </article>
                </div><!-- /.buzz-popup -->
                <!-- Blog post popup end -->

            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <a href="javascript:;">
                        <img src="images/buzz/post-2.jpg" alt="" class="wp-post-image" />
                    </a>
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-twitter">
                    <div class="buzz-info">
                        <h4 class="entry-title">
                            <a href="javascript:;">Elin Moore</a>
                        </h4>
                        <a href="https://twitter.com/username">@elinm</a>
                        <div class="entry-content">
                            <p>Nunc imperdiet eu nisi vitae eleifend. Praesent et libero eros. Donec imperdiet, lorem at mollis euismod, sem justo rutrum neque, quis vulputate ipsum mi quis tortor. <a href="https://twitter.com/search">#gobananas</a></p>
                            <div class="more-info">
                                <a href="javascript:;" class="posted-on">
                                    <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                                </a>
                                <a href="javascript:;">{{icon('icon-twitter', 'icon-twitter')}}</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-instagram">
                    <a href="javascript:;">
                        <img src="images/buzz/post-1.jpg" alt="" class="wp-post-image" />
                        <div class="instagram-user">{{icon('icon-instagram', 'icon-instagram')}} @elinm</div>
                    </a>
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <a href="javascript:;">
                        <img src="images/buzz/post-3.jpg" alt="" class="wp-post-image" />
                    </a>
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-instagram">
                    <a href="javascript:;">
                        <img src="images/buzz/post-2.jpg" alt="" class="wp-post-image" />
                        <div class="instagram-user">{{icon('icon-instagram', 'icon-instagram')}} @elinm</div>
                    </a>
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <a href="javascript:;">
                        <img src="images/buzz/post-4.jpg" alt="" class="wp-post-image" />
                    </a>
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
            <div class="grid-item">
                <div class="buzz buzz-blog">
                    <div class="buzz-info">
                        <span class="posted-on">
                            <time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
                        </span>
                        <h4 class="entry-title">
                            <a href="javascript:;">Blog Post Headline</a>
                        </h4>
                        <div class="entry-content">
                            <p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
                            <div class="more-info">
                                <a href="javascript:;" class="read-more">Read more</a>
                                <a class="btn share-button">Share</a>
                            </div><!-- /.more-info -->
                        </div><!-- /.entry-content -->
                    </div><!-- /.buzz-info -->
                </div> <!-- /.buzz -->
            </div><!-- /.grid-item -->
        </div><!-- /.grid -->
	</div><!-- /.container -->
</section><!-- /.buzz -->