<section class="cards">
	<div class="container">
		<h2>Cards title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, aspernatur!</p>
		<div class="flex-row">
			<div class="col-4">
				<div class="card">
					<div class="img-wrap">
						<img src="images/card.jpg" alt="" />
					</div><!-- /.img-wrap -->
					<h4>Card title</h4>
					<p>Lorem ipsum dolor sit amet.</p>
					<a href="#card1" class="open-popup-link">Watch Video</a>
				</div><!-- /.card -->
			</div><!-- /.col-4 -->
			<div class="col-4">
				<div class="card">
					<div class="img-wrap">
						<img src="images/card.jpg" alt="" />
					</div><!-- /.img-wrap -->
					<h4>Card title</h4>
					<p>Lorem ipsum dolor sit amet.</p>
					<a href="#card2" class="open-popup-link">Download Mission</a>
				</div><!-- /.card -->
			</div><!-- /.col-4 -->
			<div class="col-4">
				<div class="card">
					<div class="img-wrap">
						<img src="images/card.jpg" alt="" />
					</div><!-- /.img-wrap -->
					<h4>Card title</h4>
					<p>Lorem ipsum dolor sit amet.</p>
					<a href="#card3" class="open-popup-link">Report form</a>
				</div><!-- /.card -->
			</div><!-- /.col-4 -->
		</div><!-- /.flex-row -->
	</div><!-- /.container -->
	<div id="card1" class="white-popup mfp-hide">
		<h2>Popup title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, qui.</p>
		<div class="video-wrap" data-url="https://www.youtube.com/watch?v=LGZaWik2430" data-id="LGZaWik2430" style="background-image:url('images/hero/video.jpeg');" >
			<div class="video-item">
				<span class="video-play">{{ icon('icon-play', 'icon-play') }}</span>
			</div><!-- / .video-item -->
		</div><!-- / .video-wrap -->
	</div><!-- /.#card1 -->
	<div id="card2" class="white-popup mfp-hide">
		<form action="" method="post">
			<input type="text" name="download_full_name" placeholder="Full Name" required /><br />
			<input type="email" name="download_parents_email" placeholder="Parent's Email Address" required /><br />
			<input list="schools" name="download_school_name" placeholder="School Name" required /><br />
			<datalist id="schools">
				<option value="School 1">
				<option value="School 2">
				<option value="School 3">
			</datalist>
			<input type="submit" value='Download Mission'>
		</form>
	</div><!-- /.#card2 -->
	<div id="card3" class="white-popup mfp-hide">
		<form action="#cards" method="post" enctype="multipart/form-data">
			<input type="text" name="report_full_name" placeholder="Full Name" required /><br />
			<input type="email" name="report_parents_email" placeholder="Parent's Email Address" required /><br />
			<input list="schools" name="report_school_name" placeholder="School Name" required /><br />
			<datalist id="schools">
				<option value="School 1">
				<option value="School 2">
				<option value="School 3">
			</datalist>
			<input type="file" name="report_add_photo" /><br />
			<input type="checkbox" name="report_terms" required />I agree to the Terms & Conditions<br />
			<input type="checkbox" name="report_mailing_list" />Subscribe to the mailing list<br />
			
			<input type="submit" value='Download Mission'>
		</form>
	</div><!-- /.#card3 -->
</section>