<footer class="footer-main">
	<a href="home.html" class="custom-logo-link" rel="home">
		<img src="images/logo.png" class="custom-logo" alt="waste buster">
	</a>
	<nav class="secondary-navigation">
		<ul class="menu">
			<li class="menu-item">
				<a href="javascript:;">Item 1</a>
			</li><!-- /.menu-item -->
			<li class="menu-item">
				<a href="javascript:;">Item 2</a>
			</li><!-- /.menu-item -->
			<li class="menu-item">
				<a href="javascript:;">Item 3</a>
			</li><!-- /.menu-item -->
		</ul><!-- /.menu -->
	</nav><!-- /.secondary-navigation -->
	<div id="colophon">
		<a href="http://www.thehouselondon.com">MADE AT <span class="house-char">&#8962;</span> THE HOUSE</a>
	</div><!-- /#colophon -->
</footer>
