<section class="subscribe">
    <div class="container">
        <div class="flex-row flex-row--gutter-none">
            <div class="col-6">
                <div class="subscribe-logos">
                    <img src="images/logo.png" alt="" />
                </div><!-- /.subscribe-logos -->
            </div><!-- /.col-6 -->
            <div class="col-6">
                <div class="subscribe__item">
                    <h2>Subscribe!</h2>
                    <form action="" method="" class="subscribe-form">
                        <input type="email" class="input input--primary" placeholder="Email" />
                        <input type="submit" value="submit" class="btn btn--primary btn--yellow" />
                    </form>
                    <ul class="social-networks">
                        <li>
                            <a href="https://twitter.com/_Wastebuster" class="social-links">
                                {{icon('icon-twitter','icon-twitter')}}
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCa2NptXv-8sOO2rzYXu46ZQ
" class="social-links">
                                {{icon('icon-youtube','icon-youtube')}}
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Wastebuster/" class="social-links">
                                {{icon('icon-fb','icon-fb')}}
                            </a>
                        </li>
                    </ul>
                    <div class="contact-info">
                        <p>
                            <span class="contact-phone-prefix">For more info call Wastebuster on the banana phone</span>
                            <span class="contact-phone">+44(0)1483 202224</span>
                        </p>
                        <p>
                            <span class="contact-email-prefix">or email</span>
                            <span class="contact-email"><a href="mailto:info@wastebuster.co.uk">info@wastebuster.co.uk</a></span>
                        </p>
                    </div><!-- /.contact-info -->
                </div><!-- /.subscribe__item -->
            </div><!-- /.col-6 -->
        </div><!-- /.flex-row -->
    </div><!-- /.container -->
</section><!-- /.subscribe -->