<section>
	<div class="owl-carousel owl-theme">
		<div class="item">
			<img src="images/hero/slide1.jpg" />
			<h1>Slider Title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, itaque.</p>
			<a href="javascipt:;">Link Button</a>
		</div><!-- /.item -->
		<div class="item">
			<img src="images/hero/slide2.jpg" />
			<h1>Slider Title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, delectus!</p>
			<a href="javascipt:;">Link Button</a>
		</div><!-- /.item -->
	</div><!-- /.owl-carousel -->
</section>