<section class="about">
	<div class="container">
		<h2>Heading</h2>
		<h3>Sub heading</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ipsam ipsa nihil neque beatae, itaque eos rerum fugiat, aspernatur quisquam, sunt impedit rem nostrum suscipit totam minus asperiores quod debitis.</p>
		<p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, neque!</strong></p>
		<a href="javascript:;">Button Label</a>
	</div><!-- /.container -->
</section><!-- /.about -->