<header class="header-main">
	<div class="site-nav">
		<a href="javascript:;" class="custom-logo-link" rel="home">
			<img src="images/logo.png" class="custom-logo" alt="waste buster">
		</a>
		<div class="site-nav-right">
			<nav class="main-navigation">
				<ul class="menu">
					<li class="menu-item">
						<a href="javascript:;">Item 1</a>
					</li><!-- /.menu-item -->
					<li class="menu-item">
						<a href="javascript:;">Item 2</a>
					</li><!-- /.menu-item -->
					<li class="menu-item">
						<a href="javascript:;">Item 3</a>
					</li><!-- /.menu-item -->
					<li class="menu-item">
						<a href="javascript:;">Item 4</a>
					</li><!-- /.menu-item -->
				</ul><!-- /.menu -->
			</nav><!-- /.main-navigation -->
		</div><!-- /.site-nav-right -->
	</div><!-- /.site-nav -->
</header>
