<section class="hero">
	<div class="video-wrap" data-url="https://www.youtube.com/watch?v=LGZaWik2430" data-id="LGZaWik2430" style="background-image:url('images/hero/video.jpeg');" >
		<div class="video-item">
			<span class="video-play"><button class="btn btn-play"></button>Play video</span>
			<h3 class="video-title">Video Title</h3>
		</div><!-- / .video-item -->
	</div><!-- / .video-wrap -->
</section>