/**
 * Edit icons for spans fall to the same place with the last one being the
 * only visible. With this we are going to position them as they appear
 * with populated text.
 *
 * These icons are 30x30 px in size and all positioned to: top 2px and left -30px;
 */
.customize-partial-edit-shortcut-phone_number_prefix .customize-partial-edit-shortcut-button {
	top: -28px;
}
.customize-partial-edit-shortcut-phone_number .customize-partial-edit-shortcut-button {
	left: 100%;
	top: -28px;
}
.customize-partial-edit-shortcut-email_prefix .customize-partial-edit-shortcut-button {
	top: 20px;
}
.customize-partial-edit-shortcut-contact_email_address .customize-partial-edit-shortcut-button {
	top: 20px;
	left: 100%;
}